body
{
	background-color: #f2f2f2;
	padding: 0px;
	margin: 0px;
	font-family: 'Helvetica', 'Arial';
	font-size: 12pt;
	color: #000;
	-webkit-user-select: none;
	overflow: hidden;
}

#header
{
	border-top: 1px solid #444444;
	margin-bottom: 10px;
}

#content
{
	background-color: #fff;
	border: 1px solid #d6d6d6;
	-webkit-border-radius: 10px;
	height: 92%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

#topic_menu
{
	float: left;
	height: 100%;
}
#topic_menu .section_item
{
	color: #9f9696;
	margin-bottom: 5px;
	cursor: pointer;
}

.topic_content
{
	padding: 0px 20px;
	height: 100%;
	color: #666;
	overflow-y: scroll;
}

/********************************
 * button styles
 ********************************/
button 
{
	-khtml-appearance: none;
	-webkit-border-image: url(../images/button-bezel.png) 2 2 2 2 stretch stretch;
	-webkit-transition: -webkit-box-shadow 0.2s linear;
	background: none;
	padding: 3px 8px;
	color: #111;
	text-shadow: 0px 1px 1px #fff;
	font-weight: bold;
	font-size:12px;
	cursor:pointer;
}

button.default
{
	color: #1C4257;
	-webkit-border-image: url(../images/default-button-bezel.png) 2 2 2 2 stretch stretch;
}

button:hover:not(:disabled) 
{
	-webkit-box-shadow: 0 0 7px #D4D4D4;
}

button.default:hover 
{
	-webkit-box-shadow: 0 0 7px #A1CAE2;
}

button:active:not(:disabled) 
{
	-webkit-border-image: url(../images/button-bezel-highlighted.png) 2 2 2 2 stretch stretch;
}

button.default:active 
{
	-webkit-border-image: url(../images/default-button-bezel-highlighted.png) 2 2 2 2 stretch stretch;
}

button:disabled 
{
	opacity: 0.5;
}

/********************************
 * scrollbar styles
 ********************************/
::-webkit-scrollbar 
{
	width: 13px;
	height: 13px;
}

::-webkit-scrollbar-thumb:vertical 
{
	height: 56px;
	-webkit-border-image: url(../images/scroll_thumb.png) 8 0 8 0 stretch stretch;
	border-width: 8 0 8 0;
}

::-webkit-scrollbar-thumb:horizontal 
{
	width: 56px;
	-webkit-border-image: url(../images/scroll_thumb_horizontal.png) 0 8 0 8;
	border-width: 0 8 0 8;
}

::-webkit-scrollbar-corner 
{
	display:none;
}
